@import "tailwindcss";
@source "../../../node_modules/@mytrainstation/ui";

/*
palette :
#ff9966
#ff5e62
#ec4e90
 */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0 0 212px 0;
  height: 212px;
  background-image: url("./assets/logo.svg"),
    linear-gradient(
      to right top,
      #ff9966,
      #ff8f63,
      #ff8461,
      #ff7960,
      #ff6e60,
      #fe6764,
      #fd5f68,
      #fc586c,
      #f95473,
      #f6517b,
      #f14f82,
      #ec4e89
    );
  background-size: 300%, 100%;
  background-repeat: no-repeat;
  background-position: center center, top;
  background-blend-mode: soft-light;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
